body {
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  background-color: #fdfdfd;
  margin: 0;
  padding: 40px;
}

.dashboard {
  padding: 20px;
  border: 1px solid #ccc;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.logo {
  width: 80px;
  margin-bottom: 20px;
}

button {
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #DAC254;
  color: #21409A;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #c4ad45;
}